@charset "UTF-8";


/* =============================================================================
   Colors
   ========================================================================== */

$xxx-color-text: #333333;
$xxx-color-text-sub: #aaaaaa;
$xxx-color-bg: #ffffff;

$xxx-color-link: #3366ff;
$xxx-color-visited: #9933ff;
$xxx-color-hover: #3366ff;
$xxx-color-tap-hl: rgba(0, 128, 255, 0.3);


/* =============================================================================
   Typography
   ========================================================================== */

$xxx-font-sans-serif-ja: "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
$xxx-font-serif-ja: "ＭＳ Ｐ明朝", "Hiragino Mincho ProN", serif;
$xxx-font-sans-serif-en: sans-serif;
$xxx-font-serif-en: serif;
$xxx-font-size-base: 16px;
